/* fonts.css */
@font-face {
    font-family: 'ArchattsonHollmytro'; 
    src: url('../fuentes/archattson_hollmytro/Archattson Hollmytro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Romantically';
    src: url('../fuentes/Romantically/Romantically.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bright_almond';
    src: url('../fuentes/bright_almond/bright_almond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
